Orchestrator.json
[{"id":"d0441cca.0a6998","type":"tab","label":"Orchestrateur","disabled":false,"info":""},{"id":"34bace9b.f25712","type":"http request","z":"d0441cca.0a6998","name":"GET STUDENT LIST","method":"GET","ret":"obj","paytoqs":false,"url":"http://{{{IPBACK}}}:9428/api/students","tls":"","proxy":"","authType":"basic","x":480,"y":160,"wires":[["f1654e09.2ae248","e37b6b1a.489968"]]},{"id":"f1654e09.2ae248","type":"function","z":"d0441cca.0a6998","name":"FILTER BY EDUCATION STREAM","func":"//msg.payload = msg.payload[0].queue;\nvar filteredList = new Array();\nconsole.log(\"taille non filtrer : \"+msg.payload.length);\n\n\n//console.log(filteredList.length);\n\nfor (var i = 0; i < msg.payload.length; i++){\n    if (msg.payload[i].educationStream ===flow.get('educationStream') ){\n        //msg.educationStream\n        filteredList.push(msg.payload[i]);\n    }\n}\n\n\n//for (var i = 0; i < filteredList.length; i++){\n//    console.log(filteredList[i]);\n//}\nmsg.payload = filteredList;\nflow.set(\"filter\",filteredList);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":820,"y":160,"wires":[["51069759.ad364"]]},{"id":"59c0366d.4ce68","type":"function","z":"d0441cca.0a6998","name":"parse first student ID","func":"\n//msg.payload ='http://192.168.43.214:9428/api/students/' + msg.payload[0].id;\n//context.id= ''+msg.payload[0].id;\n\nmsg.IDstudent = flow.get(\"filterID\");\nconsole.log(msg.IDstudent);\n\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":280,"wires":[["e6b46b32.680cb8"]]},{"id":"6d134a58.7e3e6c","type":"mosca in","z":"d0441cca.0a6998","mqtt_port":"1891","mqtt_ws_port":8080,"name":"ORCHESTRATEUR MQQT","username":"","password":"","dburl":"","x":120,"y":40,"wires":[[]]},{"id":"246abe2f.419d52","type":"function","z":"d0441cca.0a6998","name":"set IP back-end","func":"msg.IPBACK ='192.168.43.249';\n\nmsg.DELETE = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["34bace9b.f25712"]]},{"id":"de0335b5.10bd18","type":"mqtt in","z":"d0441cca.0a6998","name":"BUTTON PUSH","topic":"/root/push","qos":"2","datatype":"auto","broker":"1621bcec.4c6a63","x":80,"y":160,"wires":[["246abe2f.419d52"]]},{"id":"5486a64c.cb4d3","type":"mqtt out","z":"d0441cca.0a6998","name":"Envoie affichage ecran","topic":"/root/msg","qos":"","retain":"","broker":"bf959e66.67f9d8","x":410,"y":540,"wires":[]},{"id":"f13bbabd.55de08","type":"mqtt in","z":"d0441cca.0a6998","name":"GET EDUCATION STREAM","topic":"/root/promo","qos":"2","datatype":"auto","broker":"1621bcec.4c6a63","x":120,"y":540,"wires":[["b2a13071.5e96b8","6e182145.4e6328","5486a64c.cb4d3"]]},{"id":"b2a13071.5e96b8","type":"function","z":"d0441cca.0a6998","name":"STORE EDUCATION STREAM","func":"flow.set(\"educationStream\",msg.payload);\nmsg.IPBACK ='192.168.43.249';\nmsg.DELETE = 0;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["a0fb845.853dff8"]]},{"id":"6e182145.4e6328","type":"debug","z":"d0441cca.0a6998","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":600,"wires":[]},{"id":"e37b6b1a.489968","type":"debug","z":"d0441cca.0a6998","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":220,"wires":[]},{"id":"a0fb845.853dff8","type":"delay","z":"d0441cca.0a6998","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":460,"wires":[["34bace9b.f25712"]]},{"id":"eefec97e.076158","type":"http request","z":"d0441cca.0a6998","name":"DELETE FIRST STUDENT ","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://{{{IPBACK}}}:9428/api/students/{{{IDstudent}}}","tls":"","proxy":"","authType":"basic","x":1880,"y":260,"wires":[[]]},{"id":"4afa9a83.ceec3c","type":"mqtt out","z":"d0441cca.0a6998","name":"Envoie LENGTH ecran","topic":"/root/msgLen","qos":"2","retain":"","broker":"bf959e66.67f9d8","x":2780,"y":40,"wires":[]},{"id":"51069759.ad364","type":"switch","z":"d0441cca.0a6998","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":360,"wires":[["eb945dbc.8d2d18"],["3851a0b4.373528"]]},{"id":"fd19e1c.d8cfd2","type":"function","z":"d0441cca.0a6998","name":"GET FIRST QUEUE STUDENT","func":"\nif(msg.DELETE===1){\nmsg.payload= msg.filterSN;\n}\nelse{\n    msg.payload = msg.payload.length;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":140,"wires":[["d5b287c1.110298"]]},{"id":"578a85b7.21d75c","type":"debug","z":"d0441cca.0a6998","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":60,"wires":[]},{"id":"e6b46b32.680cb8","type":"switch","z":"d0441cca.0a6998","name":"","property":"DELETE","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1650,"y":280,"wires":[["eefec97e.076158"],[]]},{"id":"eb945dbc.8d2d18","type":"function","z":"d0441cca.0a6998","name":"ORDER","func":"\nmsg.payload  = msg.payload.sort(function (a, b) {return a.queue - b.queue;});\n    \nconsole.log(\"taille filtrer : \"+msg.payload.length);\n\nmsg.filtered = msg.payload;\n\nconsole.log(msg.payload[0].id);\n\nflow.set(\"filterID\",msg.payload[0].id);\n\nflow.set(\"filterSN\",msg.payload[0].studentNumber.toString());\nconsole.log(\"VOILA LE PROCHAIN \"+flow.get(\"filterSN\"));\nmsg.filterSN = msg.payload[0].studentNumber.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":140,"wires":[["fd19e1c.d8cfd2","59c0366d.4ce68","578a85b7.21d75c"]]},{"id":"3851a0b4.373528","type":"function","z":"d0441cca.0a6998","name":"NULL","func":"msg.payload = \"nULL\"\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":360,"wires":[["23d2a1da.52ea5e"]]},{"id":"2838b829.31a898","type":"comment","z":"d0441cca.0a6998","name":"Récuperation d'une filière ","info":"","x":120,"y":460,"wires":[]},{"id":"668e04fc.22e2d4","type":"comment","z":"d0441cca.0a6998","name":"Recuperation du premier eleve de la filiere souhaité","info":"","x":190,"y":100,"wires":[]},{"id":"d5b287c1.110298","type":"switch","z":"d0441cca.0a6998","name":"","property":"DELETE","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2410,"y":40,"wires":[["4afa9a83.ceec3c"],["23d2a1da.52ea5e"]]},{"id":"23d2a1da.52ea5e","type":"mqtt out","z":"d0441cca.0a6998","name":"Envoie ID ecran","topic":"/root/msgID","qos":"2","retain":"","broker":"bf959e66.67f9d8","x":2780,"y":360,"wires":[]},{"id":"1621bcec.4c6a63","type":"mqtt-broker","z":"","name":"RASPERRY MQTT","broker":"192.168.43.214","port":"1891","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf959e66.67f9d8","type":"mqtt-broker","z":"","name":"ORCHESTRATEUR MQQT","broker":"localhost","port":"1891","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]