Raspberry.json
[{"id":"8a8297a5.cbfad8","type":"tab","label":"Raspberry","disabled":false,"info":""},{"id":"bd45d931.48bad","type":"rpi-gpio in","z":"8a8297a5.cbfad8","name":"Button","pin":"11","intype":"tri","debounce":"25","read":false,"x":150,"y":400,"wires":[["ee4b2e8f.2f4f6","1e1b9e39.2ff462"]]},{"id":"f1e89ffc.311418","type":"mqtt in","z":"8a8297a5.cbfad8","name":"","topic":"/root/msg","qos":"2","datatype":"auto","broker":"35eed040.700ac","x":370,"y":600,"wires":[["83d099eb.97e8e8","761e686e.01722"]]},{"id":"83d099eb.97e8e8","type":"debug","z":"8a8297a5.cbfad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":600,"wires":[]},{"id":"761e686e.01722","type":"grove-4-digit-display","z":"8a8297a5.cbfad8","name":"","pin":"5","x":600,"y":700,"wires":[]},{"id":"ee4b2e8f.2f4f6","type":"debug","z":"8a8297a5.cbfad8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":480,"wires":[]},{"id":"c89d952.01474e8","type":"debug","z":"8a8297a5.cbfad8","name":"Long pulse detected","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":200,"wires":[]},{"id":"9ac54b85.5b0a08","type":"switch","z":"8a8297a5.cbfad8","name":"which promo?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":6,"x":1000,"y":240,"wires":[["d488f351.3471f"],["81c37f05.9607a8"],["fefd4dee.9918f8"],["8338336f.971b58"],["a11129c5.1dc1a"],["547b0c73.43e9a4"]]},{"id":"d488f351.3471f","type":"switch","z":"8a8297a5.cbfad8","name":"if SI3 (1)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":140,"wires":[["ebde7f41.38dd6"]]},{"id":"fefd4dee.9918f8","type":"switch","z":"8a8297a5.cbfad8","name":"if GE3 (3)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":220,"wires":[["a94f059e.ef3a3"]]},{"id":"81c37f05.9607a8","type":"switch","z":"8a8297a5.cbfad8","name":"if SI4 (2)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":180,"wires":[["384d5d4a.281422"]]},{"id":"86a49cce.e0d58","type":"function","z":"8a8297a5.cbfad8","name":"Switch promo","func":"var promo = global.get('promo')||1;\npromo += 1\nif (promo === 7) promo = 1;\nglobal.set('promo',promo);\nmsg.payload = global.get('promo');\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":260,"wires":[["9ac54b85.5b0a08"]]},{"id":"8338336f.971b58","type":"switch","z":"8a8297a5.cbfad8","name":"if GE4 (4)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":260,"wires":[["71394f86.444a7"]]},{"id":"a11129c5.1dc1a","type":"switch","z":"8a8297a5.cbfad8","name":"if GB3 (5)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":300,"wires":[["751fcb98.cc321c"]]},{"id":"547b0c73.43e9a4","type":"switch","z":"8a8297a5.cbfad8","name":"if GB4 (6)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":340,"wires":[["49ee437a.2899bc"]]},{"id":"ebde7f41.38dd6","type":"change","z":"8a8297a5.cbfad8","name":"toString","rules":[{"t":"set","p":"payload","pt":"msg","to":"SI3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":140,"wires":[["901b4296.1ac9e8"]]},{"id":"384d5d4a.281422","type":"change","z":"8a8297a5.cbfad8","name":"toString","rules":[{"t":"set","p":"payload","pt":"msg","to":"SI4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":180,"wires":[["901b4296.1ac9e8"]]},{"id":"a94f059e.ef3a3","type":"change","z":"8a8297a5.cbfad8","name":"toString","rules":[{"t":"set","p":"payload","pt":"msg","to":"GE3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":220,"wires":[["901b4296.1ac9e8"]]},{"id":"2a34ad29.215532","type":"function","z":"8a8297a5.cbfad8","name":"message null","func":"msg.payload = \"NUL\";\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":200,"wires":[[]]},{"id":"901b4296.1ac9e8","type":"switch","z":"8a8297a5.cbfad8","name":"is empty?","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1660,"y":260,"wires":[["2a34ad29.215532"],["99486e7b.8e55f","82abd97a.e7ac7"]]},{"id":"71394f86.444a7","type":"change","z":"8a8297a5.cbfad8","name":"toString","rules":[{"t":"set","p":"payload","pt":"msg","to":"GE4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":260,"wires":[["901b4296.1ac9e8"]]},{"id":"751fcb98.cc321c","type":"change","z":"8a8297a5.cbfad8","name":"toString","rules":[{"t":"set","p":"payload","pt":"msg","to":"GB3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":300,"wires":[["901b4296.1ac9e8"]]},{"id":"49ee437a.2899bc","type":"change","z":"8a8297a5.cbfad8","name":"toString","rules":[{"t":"set","p":"payload","pt":"msg","to":"GB4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":340,"wires":[["901b4296.1ac9e8"]]},{"id":"99486e7b.8e55f","type":"debug","z":"8a8297a5.cbfad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1840,"y":280,"wires":[]},{"id":"82abd97a.e7ac7","type":"mqtt out","z":"8a8297a5.cbfad8","name":"Promo","topic":"/root/promo","qos":"2","retain":"true","broker":"a5c3378.ebe45c8","x":1820,"y":320,"wires":[]},{"id":"2682d1e8.04e956","type":"mqtt out","z":"8a8297a5.cbfad8","name":"","topic":"/root/push","qos":"2","retain":"","broker":"a5c3378.ebe45c8","x":1480,"y":420,"wires":[]},{"id":"5287bb79.6e3a14","type":"switch","z":"8a8297a5.cbfad8","name":"Short pulse series?","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":440,"wires":[["2682d1e8.04e956"],["71997a2b.e89a4c"],[]],"outputLabels":["Long pulses","",""]},{"id":"98d4e4d3.a249d8","type":"switch","z":"8a8297a5.cbfad8","name":"Long pulse?","property":"period","propertyType":"msg","rules":[{"t":"gte","v":"1000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":380,"wires":[["86a49cce.e0d58"],["61be1ca0.95178c"]],"outputLabels":["Long pulses",""]},{"id":"21381cca.6b2f54","type":"switch","z":"8a8297a5.cbfad8","name":"Rising edge?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":493,"y":380,"wires":[["98d4e4d3.a249d8"]]},{"id":"1e1b9e39.2ff462","type":"interval-length","z":"8a8297a5.cbfad8","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"period","timestampField":"timestamp","repeatTimeout":false,"name":"","x":320,"y":380,"wires":[["21381cca.6b2f54"],[]]},{"id":"71997a2b.e89a4c","type":"mqtt out","z":"8a8297a5.cbfad8","name":"","topic":"/root/doublepush","qos":"2","retain":"","broker":"a5c3378.ebe45c8","x":1500,"y":520,"wires":[]},{"id":"61be1ca0.95178c","type":"timed-counter","z":"8a8297a5.cbfad8","name":"Click count","timelimit":"2000","timeunit":1,"withhold":true,"fixedtimeout":false,"pertopic":false,"x":890,"y":440,"wires":[["5287bb79.6e3a14","824e4180.500e48"]]},{"id":"824e4180.500e48","type":"debug","z":"8a8297a5.cbfad8","name":"clikc count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":540,"wires":[]},{"id":"3eb11d90.7fd64a","type":"mqtt in","z":"8a8297a5.cbfad8","name":"","topic":"/root/msgID","qos":"2","datatype":"auto","broker":"35eed040.700ac","x":390,"y":840,"wires":[["956eabcf.4e8aa8"]]},{"id":"956eabcf.4e8aa8","type":"grove-4-digit-display","z":"8a8297a5.cbfad8","name":"","pin":"5","x":960,"y":840,"wires":[]},{"id":"fd4ab5d5.2dd0f","type":"mqtt in","z":"8a8297a5.cbfad8","name":"","topic":"/root/msgLen","qos":"2","datatype":"auto","broker":"35eed040.700ac","x":390,"y":940,"wires":[["316e3c6f.eb91d4"]]},{"id":"316e3c6f.eb91d4","type":"grove-4-digit-display","z":"8a8297a5.cbfad8","name":"","pin":"5","x":960,"y":940,"wires":[]},{"id":"35eed040.700ac","type":"mqtt-broker","z":"","name":"ORCHESTRATEUR MQQT","broker":"192.168.43.214","port":"1891","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a5c3378.ebe45c8","type":"mqtt-broker","z":"","name":"RASPERRY MQTT","broker":"192.168.43.214","port":"1891","clientid":"","usetls":false,"compatmode":true,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]